.card-tn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-deepblue);
  border: 1px solid var(--color-black);
  max-height: 9.375rem;
  cursor: pointer;
}

.card-tn--bright {
  background-color: var(--color-purple);
}

.card-tn__content {
  display: flex;
  flex-direction: column;
  min-width: calc(100% - 9.25rem);
  max-width: calc(100% - 9.25rem);

  padding: var(--padding-small) var(--padding-medium);
}

.card-tn__image {
  display: flex;
  justify-content: center;
  height: 9.25rem;
}

.card-tn__image img {
  object-fit: cover;
}

.card-tn__text {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  gap: var(--gap-xsmall);
  padding: var(--padding);
}

.card-tn__date {
  font-size: var(--body-xsmall);
  line-height: 1rem;
}

.card-tn__heading {
  font-size: var(--heading-xsmall);
  line-height: 1.375rem;
}

@media (min-width: 680px) {
  .card-tn {
    max-width: 21rem;
  }

  .card-tn__content {
    padding: var(--padding-small);
    width: calc(100% - 9.25rem);
  }
}
