.card-s {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--color-deepblue);
  border: 1px solid var(--color-black);
}

.card-s--bright {
  background-color: var(--color-purple);
}

.card-s__image {
  display: flex;
  justify-content: center;
  height: 20.5rem;
}

.card-s__image img {
  object-fit: cover;
  width: 100%;
}

.card-s__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
  padding: var(--padding-large) var(--padding-sm);
}

.card-s__text {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  gap: var(--gap-xsmall);
  padding: var(--padding);
}

.card-s__heading {
  font-size: var(--heading-small);
  line-height: 1.6875rem;
}

@media (min-width: 680px) {
  .card-s {
    max-width: 21rem;
  }
}
